# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/*/97/
/broadcast/**/dry-run/

/deployments

# Docs
docs/

# Dotenv file
.env

.vscode/

.keys

lib/openzeppelin-contracts/**
lib/forge-std/**