# Ethereum Mainnet
MAINNET_PK = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
MAINNET_SIGNER_PK = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
MAINNET_ALCHEMY_AK = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Sepolia Testnet
SEPOLIA_ALCHEMY_AK = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SEPOLIA_PK = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 

# BSC Testnet
BSC_TESTNET_ALCHEMY_AK = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
BSC_TESTNET_PK = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
